
.container {
	font-family:"PT Sans","Arial";
	}			/*  СПЕЦИФИКАЦИЯ */

ul {
	list-style: none;
}


					/* ПЕРВАЯ СЕКЦИЯ */
.header {
	background: #fcdb00;	
}
.menu__item {
	margin:50px 50px 70px 0;
	transition-duration: 0.5s;
}
.menu__item a {
	color:black;
	font-size:22px;
	font-weight:bold;
	transition-duration: 1.5s;
	text-transform: uppercase;
}
.menu__item:last-child a {
	width:100px;
}
.menu__item a:hover {
	color:#f18c14;
	text-decoration:none;
	transition-duration: 0.3s;
}
.logo {
	margin:50px 0 0 30px;
}
.block-left {
	margin:70px 0 0 30px;
}
.icons * {
	margin-right:10px;
	color:black;
	transition-duration: 1.5s;
}
.icons *:hover {
	color:#f18c14;
	transition-duration: 0.3s;
}
.block-left__title {
	font-size:32px;
	font-weight:bold;
	color:#010101;
}
.block-left__p1 {
	font-size:20px;
	margin:20px 0;
	color:#313841;
}
.block-left__p2 {
	color:#313841;
	font-size:16px;
	margin-bottom:40px;
}
.ipad {
	padding-bottom: 100px;
}


						/* ВТОРАЯ СЕКЦИЯ */

#info {
	text-align:center;
	padding-bottom:100px;
}
#info a i{
	color:black;
}
#info a {
	text-decoration:none;
}
.info-section {
	padding-top:100px;
}
.info-section h2 {
	color:#010101;
	font-size:32px;
	font-weight:bold;
}
.info-section p {
	font-size:20px;
	color:#767a7e;
}
.properties {
	margin:30px -10px 20px -10px;
	padding:30px 0 40px 0;
	transition-duration: 0.5s;
}
.properties:hover {
	box-shadow:0 0 10px 5px #cecbcb;
	transform:scale(1.05);
	transition-duration: 0.5s;
	cursor:pointer;
}
.properties h2 {
	font-size:22px;
	color:#010101;
}
.properties p {
	color:#898989;
	font-size:16px;
}
.fa {
	width:200%;
}


					/* ФУТЕР*/

footer {
	text-align:center;
	padding-bottom:100px;
	padding-top:60px;
	background: #010101;
	color:white;
}
.footer-info {
	width:730px;
	margin:0 auto;
	
}
.footer-info__title {
	font-size:32px;
	color:#fcdb00;
	font-weight:bold;
}
.footer-info__item {
	font-size:20px;

}
.input {
	width:540px;
	padding:15px 30px;
	margin-top:40px;
	border-radius:4px;
	border:none;
	outline:none;
	cursor:text;
}
.button  {
	padding:15px 35px;
	background:#fcdb00;
	border-radius:5px;
	border:none;
	outline:none;
	cursor:pointer;
	font-weight:bold;
	margin-left:10px;
	transition-duration: 0.5s;
}

.footer-bottom {
	width:190px;
	margin-top:40px;
}
.button:hover {
	background:#e3b604;
	transition-duration: 0.4s;
}




@media (max-width:480px) {
	.footer-info {
		width:300px;
	}
	.input {
		width:300px;

	}
	.button {
		margin-top:20px;
	}
}

@media (max-width:684px) {
	.menu__item {
		margin:5px;
	}
	
	.menu {
		margin-top:20px;
		flex-direction:column;
		text-align:center;
	}
	
	.input {
		width:320px;
		padding:20px;
	}
	.logo {
		margin-left:30%;
	}
	.ipad {
		width:80%;
		height:80%;
		margin:20px 0 -20px 10%;
	}

}
@media (max-width:800px) {
	.footer-info {
		width:auto;
	}
}